site_name: spinalmodes
nav:
  - Home: index.md
  - Theory: theory.md
  - Experiments: experiments.md
  - API Reference: api.md

theme:
  name: material
  palette:
    primary: indigo
    accent: indigo

plugins:
  - search
  - mkdocstrings:
      handlers:
        python:
          paths: [src]

markdown_extensions:
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.superfences
  - pymdownx.details
  - attr_list

extra_javascript:
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js
